@page "/Libraries"
@using DisplayResume.Components.Sections
@using DisplayResume.FakerData
@using DisplayResume.Models

<PageTitle>Libraries and Frameworks</PageTitle>

<div class="resume-container">
	<TechnologiesSection Technologies=TechList />
</div>

@code{
	private List<Technology> TechList = new FakerTechnology().Generate(5);
}