@page "/secret"
@using DisplayResume.Models
@using DisplayResume.Models.Enums
@using DisplayResume.Components;
@using DisplayResume.Components.Details;
@using DisplayResume.Components.Sections;

<PageTitle>Resume - @Resume.GetMyName()</PageTitle>

<div class="resume-container">
	<ResumeHeader Contact=@Resume.Contact />
	<QualificationsSection Delimiter=@delimiter Qualifications=@Resume.Qualifications />
	<SummarySection SummaryText=@Resume.Summary />
	<ExperienceSection Delimiter=@delimiter Organizations=@Resume.Organizations />
	<EducationSection Delimiter=@delimiter Education=@Resume.Education />
	<TechListSection Delimiter=@delimiter TechResume=@Resume />
</div>

@code {
	private Resume Resume = new ResumeData().DeanMorrisonv2;
	private string delimiter = ":";

	protected override Task OnInitializedAsync()
	{
		Resume.SetDescriptors();
		Resume.GetTimeLimtedOrganizations();

		Console.WriteLine(Resume.ToString());

		return Task.CompletedTask;
	}
}