@using DisplayResume.Models
@using DisplayResume.Models.Enums
@using DisplayResume.Models.Extensions

<ResumeSection Delimiter=@Delimiter Title="Technologies">
	@foreach (Technology tech in new List<Technology>())
	{
		<h7>@tech.Focus.GetDisplayShortName(): </h7>
		<span class="tech-badge">@tech.Name, </span>
	}
	<br>
</ResumeSection>

@code {
	[Parameter] public Resume TechResume { get; set; } = new();
	[Parameter] public string Delimiter { get; set; } = string.Empty;

}