@using DisplayResume.Models

<header>
	<h4><b>@Contact.FullName()</b></h4>
    <div>
        <div>
            <span>@Contact.Address.USAddress()</span>
        </div>
    </div>
</header>
<br>

@code {
    [Parameter] public ContactInfo Contact { get; set; } = new();
}